@model IEnumerable<RestaurantAndDishes.Models.DishViewModel>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/remove_text-decoration.css" asp-append-version="true" />
</head>

<h1>Dishes</h1>

<p>
    <a asp-action="Create">Add a Dish</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dish_viewModel.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dish_viewModel.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dish_viewModel.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dish_viewModel.Restaurant_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dish_viewModel.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.dish_viewModel.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.dish_viewModel.Price)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.dish_viewModel.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.dish_viewModel.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.dish_viewModel.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
